<template name="carousel">
  <div id="carousel">
    <div><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1d/Wat_Yai_Suwannaram_%28Petchaburi%29-026.jpg/320px-Wat_Yai_Suwannaram_%28Petchaburi%29-026.jpg" width="200px" /></div>
    <div><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/73/50_centavos_de_M%C3%A9xico_de_1919_%28anverso_y_reverso%29.JPG/320px-50_centavos_de_M%C3%A9xico_de_1919_%28anverso_y_reverso%29.JPG" width="200px" /></div>
    <div><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4a/Table%2C_c._1800%2C_after_a_design_by_Friedrich_Gilly%2C_Berlin%2C_burl_maple%2C_fir_or_pine%2C_bronze%2C_and_marble_-_Art_Institute_of_Chicago_-_DSC09908.JPG/280px-Table%2C_c._1800%2C_after_a_design_by_Friedrich_Gilly%2C_Berlin%2C_burl_maple%2C_fir_or_pine%2C_bronze%2C_and_marble_-_Art_Institute_of_Chicago_-_DSC09908.JPG" width="200px" /></div>
  </div>
</template>
